<div ng-controller="CollectionCtrl">

<% @user.collections.each do |collection| %>

<div class="<%= collection.title %>">
<%= collection.title %>
<%= collection.description %>

	<% collection.works.each do |work| %>

		<%= work.title %>
		<%= image_tag work.image.url, class: 'uploaded-image' %>
		<% work.media.each { |medium| %> <%= medium.name %> <% } %>
		<% work.genres.each { |genre| %> <%= genre.name %> <% } %>
		<%= work.caption %>

	<% end %>	


<button class="details" ng-click="upload = <%= collection.id %>">Add To <%= collection.title %></button>

	<div class="upload-options" ng-show="upload == <%= collection.id %>">
	<%= link_to "Add Art", new_user_collection_work_path(collection_id: collection.id, upload_type: 'art') %>
	<%= link_to "Add Writing", new_user_collection_work_path(collection_id: collection.id, upload_type: 'writing') %>
	</div>

</div>

<% end %>









