


<div ng-controller="OrganisationNewCtrl">

<%= form_for @organisation, html: {multipart: true} do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :description %>
	<%= f.text_area :description %>

	<%= f.label :network %>
	<%= f.text_field :network %>

	<%= f.label :organisation_type, 'Type of Organisation' %>
	<%= f.text_field :organisation_type %>

	<%= f.label :image %>
	<%= f.file_field :image, required: true, data: {:"ng-file-select" => "onFileSelect($files)"}  %>

	<img ng-src="{{imageSrc}}" />

	<%= f.label :creator_role, 'Your Role' %>
	<%= f.text_field :creator_role %>


	<%= f.submit 'Submit' %>

<% end %>

</div>