
<div id="container" style="max-width: 70%;" ng-repeat="editor in editors">
	
 	<form name="demo">
		<div medium-editor></div>
	</form>



<%= form_for @new_work, html: {multipart: true}, url: user_collection_works_path do |f| %>

	<div id="test" style="visibility: hidden; text-indent: -9999px;">

	<%= f.label :text %>
	<%= f.text_field :text, id: 'texteditor', data: { :'ng-model' => 'text'} %>
	</div>

	<a href="#" class="add-details" ng-init="details = false" ng-click="details = !details">Add Details</a>


	<div ng-show="details">


	<%= f.label :title %>
	<%= f.text_field :title, required: true %>

	<%= f.label :image, 'Thumbnail' %>
	<%= f.file_field :image, required: true, data: {:"ng-file-select" => "onFileSelect($files)"} %>

	 <img ng-src="{{imageSrc}}" />

	<%= f.label :genre_names, 'Genres' %>
	<%= f.text_field :genre_names, value: '' %>

	<%= f.label :caption, 'Short Description' %>
	<%= f.text_field :caption %>

	<%= f.submit 'Publish' %>


	</div>


<% end %>