<div>

<% if current_user.sign_in_count == 1 %>
	<h1>Please fill in your profile details</h1>
<% end %>



<%= form_for @user, html: {multipart: true} do |f| %>

	<%= f.label :avatar %>
	<%= f.file_field :avatar %>
	<%= f.submit %>

<% end %>

<% if current_user.avatar.present? %>
	<%= image_tag current_user.avatar.url(:thumb), class: 'profile-pic' %>
<% end %>


<%= render "information" %>

<button>Work</button>

<%= link_to 'Work', user_collections_path(@user) %>





</div>