
<div ng-controller="ProfileCtrl" class='profile-info'>

<div>

<% if current_user.sign_in_count == 1 %>
	<h1>Please fill in your profile details</h1>
<% end %>



	<div ng-show="editable">
	<%= form_for @user, html: {multipart: true} do |f| %>

		<%= f.label :avatar %>
		<%= f.file_field :avatar %>
		<%= f.submit %>

	<% end %>
	</div>

	<div ng-show="editable" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function">drop picture here</div>

	<% if current_user.avatar.present? %>
 		<img class="profile-pic" ng-src="{{user.userImage}}" style="height: 100px; width: auto">
	<% end %>

 


<%= render "information" %>


<%= link_to 'Work', user_collections_path(@user) %>




</div>




</div>