<div>

<h1>Please fill in your profile details</h1>


<%= form_for @user, html: {multipart: true} do |f| %>

	<%= f.label :avatar %>
	<%= f.file_field :avatar %>
	<%= f.submit %>

<% end %>

<% if current_user.avatar.present? %>
	<%= image_tag current_user.avatar.url(:thumb), class: 'profile-pic' %>
<% end %>


<div ng-controller="ProfileCtrl" class='profile-info'>
  <a href="#" name="profile[name]" editable-text="user.name" onaftersave="updateProfile('name', $data)">{{ user.name || "empty" }}</a>
  <br>
  <a href="#" name="profile[profession]" editable-text="user.profession" onaftersave="updateProfile('profession', $data)">{{ user.profession || "empty" }}</a>
<br>
  <a href="#" name="profile[network]" editable-text="user.network" onaftersave="updateProfile('network', $data)">{{ user.network || "empty" }}</a>
  <br>
  <a href="#" name="profile[bio]" editable-text="user.shortBio" onaftersave="updateProfile('short_bio', $data)">{{ user.shortBio || "empty" }}</a>


  <br>
  <h1 class="name">{{name}}</h1>
  <p class="profession">{{profession}}</p>
  <p class="network">{{network}}</p>
  <p class="short-bio">{{shortBio}}</p>

</div>


</div>