<div>

<% if current_user.sign_in_count == 1 %>
	<h1>Please fill in your profile details</h1>
<% end %>



<%= form_for @user, html: {multipart: true} do |f| %>

	<%= f.label :avatar %>
	<%= f.file_field :avatar %>
	<%= f.submit %>

<% end %>

<% if current_user.avatar.present? %>
	<%= image_tag current_user.avatar.url(:thumb), class: 'profile-pic' %>
<% end %>


<%= render "information" %>

<button>Work</button>

<%= button_tag 'Upload Art', 'ng-model' => 'radioModel', 'btn-radio' => "'Art'", 'ng-click' => "isArt = !isArt" %>
<%= button_tag 'Upload Text', 'ng-model' => 'radioModel', 'btn-radio' => "'Text'", 'ng-click' => "isArt = !isArt" %>


<%= form_for [@user, @work], html: {multipart: true, 'ng-show' => "radioModel === 'Text' || radioModel === 'Art' "} do |f| %>

	<%= f.label :image %>
	<%= f.file_field :image %>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :medium_names, 'Media', 'ng-show' => "isArt" %>
	<%= f.text_field :medium_names, value: '', 'ng-show' => "isArt" %>

	<%= f.label :genre_names, 'Genres' %>
	<%= f.text_field :genre_names, value: '' %>

	<%= f.label :caption %>
	<%= f.text_field :caption %>

	<%= f.submit "onclick" => "event.preventDefault();", 'ng-model' => 'radioModel', 'btn-radio' => "''" %>


<% end %>

	<h1>BLAH BLAH</h1>


</div>