<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Folioapp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <!-- <base href="/" /> -->   
</head>
<body>

<% if flash[:notice] %>
<p class="notice"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
<p class="alert"><%= alert %></p>
<% end %>

<%= yield %>


<% if user_signed_in? %>
<!-- <input style="display: none" type="search" class="search" ng-model="search" placeholder="Search...">

	<div ng-show="search" ng-repeat="user in users | filter:search" class="users">
		<p>{{user.name}}</p>
		<p>{{user.profession}}</p>
		<p>{{user.network}}</p>
		<p>{{user.shortBio}}</p>
	
	</div>
 -->

	<button id="trigger-overlay" class="btn btn-primary" type="button">Open Overlay</button></p>

		<div class="overlay overlay-slidedown">
			<button type="button" class="overlay-close">Close</button>
			<nav>
				<ul>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Search</a></li>
					<li><a href="#">Your Submissions</a></li>
					<li><a href="#">Received Submissions</a></li>
				</ul>
			</nav>
		</div>


<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'log-out' %>

<% end %>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
  <%= javascript_include_tag 'application'%>

</body>
</html>
