<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Folioapp</title>

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>


<%= link_to "Log Out", destroy_user_session_path, method: :delete %>

	<%= javascript_include_tag src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js" %>
  <%= javascript_include_tag src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js" %>
  <%= javascript_include_tag src="https://cdn.firebase.com/js/client/1.0.18/firebase.js" %>
  <%= javascript_include_tag src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js" %>
  <%= javascript_include_tag 'application'%>

</body>
</html>
