<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Folioapp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <!-- <base href="/" /> -->   
</head>
<body>

<% if flash[:notice] %>
<p class="notice"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
<p class="alert"><%= alert %></p>
<% end %>

<% if user_signed_in? %>
 <div class="logo-centered" ng-click="blurred">
  	<button id="trigger-overlay" type="button"><img src="/assets/FfLogoBlack.png" class="logo-button">
  	</button>
 </div>
<% end %>

<% if user_signed_in? %>
<div class="overlay overlay-slidedown">
	<button type="button" class="overlay-close">Close</button>
	<nav>
		<ul>
			<li><!-- <a href="#">Profile</a> -->
			<%= link_to 'Profile', user_path(current_user.id) %>
			</li>
			<li><a href="#">Search</a></li>
			<% if current_user.submissions.any? %>
			<li>
			<%= link_to 'Your Submissions',user_submissions_manager_path(current_user.id) %>
			</li>
			<% end %>
			<li>
			<% if current_user.memberships.any? && current_user.organisations.any? {|org| org.opportunities.any? } %>
			<%= link_to "Works Submitted To #{current_user.organisations.first.name} ", organisation_opportunity_submissions_path(current_user.organisations.first, current_user.organisations.first.opportunities.first.id) %></li>
			<% end %>
			<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
		</ul>
	</nav>
</div>
<% end %>
<div>
<%= yield %>
</div>




	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
  <%= javascript_include_tag 'application'%>

</body>
</html>
